<%-include("header.ejs") %>


<div class="contactPage">
    <h1 class="headline">KULDEEP9870</h1>
    <p>Kuldeep</p>
    <p>Learning Web Development and DSA</p>
    <p> INDIA</p>
    <p> Check out my Github for More !</p>
    <p><strong>GitHub  :  </strong> <a href="https://github.com/kuldeep9870" target="_blank"><button class="button-33" role="button">Click Me !</button></a></p>
</div>


<%-include("footer.ejs") %>