<!DOCTYPE html>
<html lang="en">
<head>
    <!--Font Awesome Custom Kit-->
    <script src="https://kit.fontawesome.com/17acae702f.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="others.css">
</head>
<body>
    <section id="header">
        <a href="#"><img class="logoImg" src="img/logo2.png" alt=""></a>
        <div>
            <ul id="navbar">
                <li ><a class="active" href="home">Home</a></li>
                <li><a href="/shop ">Shop</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/cart"><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
        </div>
    </section>